section{
 background-color: #8c8c8c;
 color: white;
 padding: 5%;
}
button{
	background-color:  #66a3ff;
    border: 1px solid #66a3ff;
	padding: 2%;
    width: 100%;
}
li{
	list-style: none;
	display: inline-block;
}
a{
    text-decoration: none;
}
h1{
    font-size: 50px;
}
p{
    font-size: 17.5px;
}
form{
    width: 60%;
    border-radius: 15px;
}
input{
    width: 100%;
}
.pd2{
    padding: 4%;
}
.m-r{
    margin-right: 20%;
}
.m-t{
    margin-top: 5%;
}
.m-l{
    margin-left: 10%;
}
.cuadro{
	background-color: #b7aeae;
}
.text-center{
	text-align: center;
}
.text-right{
    text-align: right;
}
.text-white{
	color: white;
}
.text-gray{
    color: #8c8c8c;
}


